# Environment
.env
*.env
!.env.example

# Database
/docker/pgdata/
*.sql

# Build
/bin
/tmp

# IDE
.idea/
.idea/*
.vscode/
*.iml
*.iws
*.ipr

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out